
{% extends "admin/home/home.html" %}
{% block conteudo %}
    <!-- Novo container -->
    <div class="container">
      <div class="row">
        <div class="col">
          <label for="tituloProjeto">Titulo do Projeto</label>
          <input type="text" class="form-control" id="tituloProjeto" placeholder="Ex: Projeto feira">
        </div>
        <div class="col">
          <label for="instituicao">Nome da instituição/empresa</label>
          <input type="text" class="form-control" id="instituicao" placeholder="Ex: UFPI">
        </div>
      </div>
      <div class="row"> 
        <div class="col">
          <label for="pdf">Documentação do Projeto</label>
          <div class="custom-file-upload" onclick="document.getElementById('pdf').click();">
            <i class="fas fa-file-pdf"></i> <span id="file-name">Escolher PDF</span>
            <input type="file" id="pdf" accept=".pdf" style="display: none;" onchange="document.getElementById('file-name').innerText = this.files[0].name;">
          </div>
        </div>  
        <div class="col">
          <label for="rg">CNPJ</label>
          <input type="text" class="form-control RG" id="rg" placeholder="00.000.000/0001-00">
        </div>      
        <div class="col">
          <label for="data">Data de Inicio</label>
          <input type="date" class="form-control" id="data">
        </div>
        <div class="col">
          <label for="data">Datade Fim</label>
          <input type="date" class="form-control" id="data">
        </div>
      </div>
      <div class="row">
        <div class="linha-cinza" style="border-bottom: 1px solid #ccc; width: 96%; margin: auto;"></div>
      </div>
      <div class="row" style="padding: 2rem 0; padding-right: 1rem;">
        <div class="col d-flex justify-content-end">
          <button class="btn btn-success" id="cadastrar">Cadastrar</button>
        </div>
      </div>
      
      <!-- Alerta fora da estrutura do grid -->
      <div class="alert alert-success alert-dismissible fade" role="alert" id="alerta" style="position: fixed; top: 6rem; right: 10rem; z-index: 9999; background-color: #0B7A2D; color: white; height: auto;">
        Projeto cadastrado com sucesso
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    
      
    </div>
{% endblock conteudo %}
