{% extends "admin/home/home.html" %}
{% block conteudo %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <label for="tituloProjeto">Título do Projeto</label>
                <input type="text" class="form-control" name="tituloProjeto" id="tituloProjeto" placeholder="Ex: Projeto feira" required>
            </div>
            <div class="col">
                <label for="instituicao">Nome da Instituição/Empresa</label>
                <input type="text" class="form-control" name="instituicao" id="instituicao" placeholder="Ex: UFPI" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="pdf">Documentação do Projeto</label>
                <div class="custom-file-upload" onclick="document.getElementById('pdf').click();">
                    <i class="fas fa-file-pdf"></i> <span id="file-name">Escolher PDF</span>
                    <input type="file" name="pdf" id="pdf" accept=".pdf" style="display: none;" required>
                </div>
            </div>
            <div class="col">
                <label for="rg">CNPJ</label>
                <input type="text" class="form-control" name="rg" id="rg" placeholder="00.000.000/0001-00" required>
            </div>
            <div class="col">
                <label for="dataInicio">Data de Início</label>
                <input type="date" class="form-control" name="dataInicio" id="dataInicio" required>
            </div>
            <div class="col">
                <label for="dataFim">Data de Fim</label>
                <input type="date" class="form-control" name="dataFim" id="dataFim" required>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="categoria">Categoria</label>
                <select class="form-control" name="categoria" id="categoria" required>
                    <option value="">Selecione uma categoria</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">{{ categoria.categoria }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <label for="participante">Participante</label>
                <select class="form-control" name="participante" id="participante" required>
                    <option value="">Selecione um participante</option>
                    {% for participante in participantes %}
                        <option value="{{ participante.id }}">{{ participante.nomeCompleto }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row" style="padding: 2rem 0; padding-right: 1rem;">
            <div class="col d-flex justify-content-end">
                <button type="submit" class="btn btn-success" id="cadastrar">Cadastrar</button>
            </div>
        </div>
    </form>

    <div class="alert alert-success alert-dismissible fade" role="alert" id="alerta" style="position: fixed; top: 6rem; right: 10rem; z-index: 9999; background-color: #0B7A2D; color: white; height: auto;">
        Projeto cadastrado com sucesso
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
</div>
{% endblock conteudo %}
