{% extends "admin/home/home.html" %}
{% block conteudo %}
<div class="add-container">
  <nav class="list-content" aria-label="">
    <ul>
      <li class="">
        <a href="{% url 'projeto:AdcionarProjeto' %}">Projeto</a>
      </li>><li class="">
        <a href="{% url 'projeto:buscar-projeto' %}">Buscar Projeto</a>
      </li>><li class="">
        <a href="#">Atualizar Projeto</a>
      </li>
    </ul>
  </nav>
</div>
<form method="post" action="{% url 'projeto:atualizar-projeto' projeto.id %}" enctype="multipart/form-data" class="edit-socio-form form form-group">
    {% csrf_token %}
    <div class="row col-12">
      <div class="col col-md-4">
        <label for="{{ form.titulo.id_for_label }}">Titulo do Projeto</label>
        {{ form.titulo }}
        <div class="text-danger">
          {{ form.titulo.errors }}
      </div>
      </div>

      <div class="col col-md-4">
        <label for="{{ form.nome_instituicao.id_for_label }}">Nome da Instituição</label>
        {{ form.nome_instituicao }}
        <div class="text-danger">
          {{ form.nome_instituicao.errors }}
        </div>
      </div>

      <div class="col col-md-4">
        <label for="{{ form.cnpj.id_for_label }}">CNPJ</label>
        {{ form.cnpj }}
      </div>
    </div>

    <div class="row col col-12">
      <div class="col col-md-4">
        <label for="{{ form.arquivo_projeto.id_for_label }}">Documento do Projeto</label>
        {{ form.arquivo_projeto }}
        {% if form.instance.arquivo_projeto %}
          <p>
            Arquivo atual: 
            <a  class="btn btn-info btn-sm " target="_blank" href="{{form.instance.arquivo_projeto.url}}">
              {{form.instance.arquivo_projeto.name}}
            </a>
          </p>
        {% endif %}
      </div>

      <div class="col col-md-4">
        <label for="{{ form.data_inicio.id_for_label }}">Data de Inicio</label>
        Data atual: {{form.instance.data_inicio}}
        {{ form.data_inicio }}
        <div class="text-danger">
          {{ form.data_inicio.errors }}
        </div>
      </div>

      <div class=" col col-md-4">
        <label for="{{ form.data_final.id_for_label }}">Data de Conclusão</label>
        {{form.instance.data_final}}
        {{form.data_final}}
        <div class="text-danger">
          {{ form.data_final.errors }}
        </div>
      </div>
    </div>

    <div class="row col-12">
      <div class="col-md-4">
        <label for="{{ form.categoria.id_for_label }}">Categoria</label>
        {{ form.categoria }}
        <div class="text-danger">
          {{ form.categoria.errors }}
        </div>
      </div>
      <div class="col-md-4">
        <label for="{{ form.situacao.id_for_label }}">Situação:{{form.instance.data_inicio}}</label>
        {{ form.situacao }}
        <div class="text-danger">
          {{ form.situacao.errors }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="linha-cinza" style="border-bottom: 1px solid #ccc; width: 96%; margin: auto;"></div>
    </div>
    {% comment %}  {% endcomment %}
    <div class="row col-12" >
    
      <div class="col col-md-6 d-flex justify-content-start">
          <a href="{% url 'projeto:buscar-projeto'%}" class="btn btn-warning btn-sm p-2 text-write">Cancelar</a>
      </div>
      <div class="col col-md-6 d-flex justify-content-end">
        <button class="btn btn-success " type="submit" id="salva">Salva Alterações</button>
      </div>
      
    </div>

  </form>
{% endblock conteudo %}