

{%block conteudo%}
<div class="container">
    <div class="nameUser">
        <h2>Olá, {{ user.get_username }}</h2>
        <div class="atalhos">
            <div class="colunAtalhos">
                <h2>Seus Atalhos</h2>
            </div>
        </div>
    </div>
    <div class="cardContainer d-flex ">
        <!-- Card 1 -->
        <div id="card1" class="card bg-success text-white mb-3">
            <div class="card-body">
                <a href="{% url 'socios:socios' %}" class="text-white" style="text-decoration: none;"> 
                    <i class="fas fa-user"></i> 
                    <p class="card-text">Adicionar Sócio</p>
                </a>
            </div>
        </div>
        <!-- Card 2 -->
        <div id="card2" class="card bg-white text-dark mb-3">
            <div class="card-body">
                <a href="{% url 'projeto:buscar-projeto' %}" class="text-dark" style="text-decoration: none;"> 
                    <i class="fas fa-folder-open"></i>  
                    <p class="card-text">Acompanhar Projeto</p>
                </a>
            </div>
        </div>
        <!-- Card 3 -->
        <div id="card3" class="card bg-width text-dark mb-3">
            <div class="card-body">
                <a href="{% url 'projeto:AdcionarProjeto' %}" class="text-dark" style="text-decoration: none;"> 
                    <i class="fas fa-clock"></i>
                    <p class="card-text">Mensalidades</p>
                </a>
            </div>
        </div>
    </div>
</div>

{%endblock%}