
{% load static %}

<div id="mySidebar" class="sidebar">
    <a href="{% url 'pageadmin:page'%}" id="inicio" class="activate"><i class="fas fa-home"></i> Inicio</a>
    <a href="#" id="socio" class="submenu-toggle"><i class="far fa-user"></i> Sócio <i id="icon" class="fas fa-chevron-right"></i></a>
    <div id="submenu-socio" class="submenu pl-4" style="display:none;">
        <a href="{% url 'socios:add_socio'%}" class="submenu-item"><i class="fas fa-plus"></i> Adicionar</a>
        <a href="{% url 'socios:BuscarSocio'%}" class="submenu-item"><i class="fas fa-spinner"></i> Buscar</a>
    </div>
    <a href="#" id="projetos"><i class="fas fa-folder-open"></i> Projetos <i id="icon" class="fas fa-chevron-right"></i></a>
    <div id="submenu-projetos" class="submenu pl-4" style="display:none;">
        <a href="{% url 'projeto:AdcionarProjeto'%}" class="submenu-item"><i class="fas fa-plus"></i> Adicionar</a>
        <a href="{% url 'projeto:buscar-projeto'%}" class="submenu-item"><i class="far fas fa-spinner"></i> Buscar</a>
    </div>
    <a href="{% url 'socios:mensalidade'%}" id="mensalidade"><i class="far fa-credit-card"></i> Mensalidades <i id="icon" class="fas fa-chevron-right"></i></a>
    <div id="submenu-mensalidade" class="submenu pl-4" style="display:none;">
        <a href="{% url 'socios:mensalidade'%}" class="submenu-item"><i class="fas fa-plus"></i> Acompanhar</a>
    </div>
    <a href="{% url 'accounts:pagehome'%}" id="loguot"> <i class="bi bi-box-arrow-left"></i> Sair</a>
  </div>


  