

  {% if is_page_socio%}
  
  {% endif %}
  {% if is_page_projeto %}
  <div class="add-container d-flex justify-content-center align-items-center mb-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id="breadcrumb-list">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Projeto</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Adicionar Projeto</a>
        </li>
      </ol>
    </nav>
  </div>
  {% endif %}
  {% if is_page_projeto %}
  <div class="add-container d-flex justify-content-center align-items-center mb-0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id="breadcrumb-list">
        <li class="breadcrumb-item">
          <a href="#">Inicio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Mensalidade</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Acompanhar Mensalidade</a>
        </li>
      </ol>
    </nav>
  </div>
  {% endif %}

