<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/topPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    
    <title>Adicionar Sócio</title>
    <style>
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 0.5rem 0;
        padding-right: 2rem;
        padding-left: 15%;
        font-size: 0.7rem;
      }
      .add-container {
        margin: 0 auto;
        padding-left: 12rem;
        padding-top: 11rem;
      }
      .add-container nav {
        width: 80%;
      }

      body .row {
        margin-left: 7.1rem;
        width: 97%;
        background-color: white;
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      input[type="text"] {
        background-color: #d9d9d953; 
      }
      #nomeCompleto {
        width: 31.5rem;
      }
      #rg {
        width: 15rem; 
      }
      #pdf {
        width: 15rem; 
      }
      #data {
        width: 14rem;
      }
      #cargo {
        width: 14rem;
      }
      .custom-file-upload {
        border: 1px solid #ccc;
        display: block;
        padding: 6px 12px;
        cursor: pointer;
      }
      #atividade {
        width: 10rem;
      }
      #familia {
        width: 12rem;
      }
      .familia {
        margin-left: 0.5rem;
      }
      
    </style>
</head>
<body>
    {% include 'topPage/index.html' %}
    {% include 'menu/index.html' %}
    <div class="add-container d-flex justify-content-center align-items-center vh-100">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="breadcrumb-list">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item"><a href="#">Sócio</a></li>
          <li class="breadcrumb-item"><a href="#">Adicionar Sócio</a></li>
        </ol>
      </nav>
    </div>
    <!-- Novo container -->
    <div class="container">
      <div class="row">
        <div class="col">
          <label for="nomeCompleto">Nome completo</label>
          <input type="text" class="form-control" id="nomeCompleto" placeholder="Digite o nome completo">
        </div>
        <div class="col">
          <label for="carteiraTrabalho">CPF ou Carteira de trabalho</label>
          <input type="text" class="form-control" id="carteiraTrabalho" placeholder="Ex: 000.000.000-00">
        </div>
        <div class="col">
          <label for="sexo">Sexo</label><br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexo" id="masculino" value="masculino">
            <label class="form-check-label" for="masculino">Masculino</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sexo" id="feminino" value="feminino">
            <label class="form-check-label" for="feminino">Feminino</label>
          </div>
        </div>
      </div>
      <div class="row"> 
        <div class="col">
          <label for="rg">RG</label>
          <input type="text" class="form-control RG" id="rg" placeholder="Digite o RG">
        </div>
        <div class="col">
          <label for="pdf">Documento de Autodeclaração</label>
          <div class="custom-file-upload" onclick="document.getElementById('pdf').click();">
            <i class="fas fa-file-pdf"></i> <span id="file-name">Escolher PDF</span>
            <input type="file" id="pdf" accept=".pdf" style="display: none;" onchange="document.getElementById('file-name').innerText = this.files[0].name;">
          </div>
        </div>        
        <div class="col">
          <label for="data">Data</label>
          <input type="date" class="form-control" id="data">
        </div>
        <div class="col">
          <label for="cargo">Cargo</label>
          <select class="form-control" id="cargo">
            <option value="">Selecione um cargo</option>
            <option value="associado">Associado</option>
            <option value="secretario">Secretario</option>
            <option value="tesoureiro">Tesoureiro</option>
            <option value="diretor">Diretor</option>
            <option value="fiscais">Fiscais</option>
            <option value="suplentes">Suplentes</option>
          </select>
        </div>
      </div>
      <div class="row"> 
        <div class="col">
          <label for="atividade">Mantém atividade agrícola, artesanal ou cultural na comunidade?</label>
          <select class="form-control" id="atividade">
            
            <option value="sim">Sim</option>
            <option value="nao">Não</option>
          </select>
        </div>
        <div class="col familia">
          <label for="familia">Quantidade de pessoas na família</label>
          <input type="number" class="form-control" id="familia" placeholder="Digite a quantidade">
        </div>
      </div>
      <div class="row">
        <div class="linha-cinza" style="border-bottom: 1px solid #ccc; width: 96%; margin: auto;"></div>
      </div>
      <div class="row" style="padding: 1.5rem 0; padding-right: 1rem;">
        <div class="col d-flex justify-content-end">
          <button class="btn btn-success" id="cadastrar">Cadastrar</button>
        </div>
      </div>
      
      <!-- Alerta fora da estrutura do grid -->
      <div class="alert alert-dismissible fade" role="alert" id="alerta" style="position: fixed; top: 6rem; right: 10rem; z-index: 9999; height: auto;">
        <span id="alert-text"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div> 
    
      
    </div>
    {% include 'footer/index.html' %}
    <script>
      $(document).ready(function() {
        $('#cadastrar').click(function() {
          // Remover classes de cores anteriores
          $('#alerta').removeClass('alert-success alert-warning alert-danger');
          
          // Verificar se o sócio foi cadastrado com sucesso
          var sucesso = true; // Troque isso pela sua lógica real
          if (sucesso) {
            $('#alerta').addClass('alert-success'); // Adiciona classe para cor verde
            $('#alert-text').text('Sócio cadastrado com sucesso');
          } else {
            // Verificar se já existe um sócio cadastrado com esse CPF
            var existe = true; // Troque isso pela sua lógica real
            if (existe) {
              $('#alerta').addClass('alert-warning'); // Adiciona classe para cor amarela
              $('#alert-text').text('Já existe um sócio cadastrado com esse CPF');
            } else {
              $('#alerta').addClass('alert-danger'); // Adiciona classe para cor vermelha
              $('#alert-text').text('Erro ao cadastrar sócio, verifique as informações');
            }
          }
          
          $('#alerta').addClass('show'); // Mostra a notificação
      
          // Remove a notificação após 5 segundos
          setTimeout(function() {
            $('#alerta').removeClass('show');
          }, 4000);
        });
      });
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
