.add-container {
  margin: 0 auto;
  padding-left: 12rem;
  padding-top: 7.5rem;
}

.add-container nav {
  width: 80%;
}

.container {
  width: 100%;
}

.row {
  background-color: white;
  margin-left: 8rem;
  
}
