/*Luis*/


.container {
  background-color: red;
  padding-left: 3rem;
  padding-top: 7.5rem;
  font-weight: 500;
  font-size: medium;
  font-style: normal;
  color: #00000062;
}

.container h2 {
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.colunAtalhos h2 {
  font-weight: 600;
  padding-left: 4rem;
  font-size: 1rem;
  font-style: normal; 
}

.cardContainer {
  padding-left: 8rem;
}

#card {
  border-radius: 10px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  width: 15rem;
}


.card-body i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  padding-bottom: 0.5rem;
}