{% extends 'admin/home/home.html' %}

{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block conteudo %}
  <div class="container p-0 mb-5">
    <div class="search mt-5">
      <h5>Digite o nome sócio ou CPF</h5>
      <form action="{% url 'socios:BuscarSocio' %}" method="get">
        <div class="input-group mb-3">
          <input id="form-contr" type="search" name="termo" class="form-control" placeholder="Ex: Maria " />
          <div class="input-group-append">
            <button id="buttonSearch" class="btn btn-success" type="submit">Buscar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="search mt-5">
      <table id="tabela" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Sexo</th>
            <th scope="col">RG</th>
            <th scope="col">Cargo</th>
            <th scope="col">Declaração</th>
            <th scope="col">Situação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for socio in socios %}
            <tr>
              <td>
                <a data-toggle="modal" data-target="#ExemploModalCentralizado" href="{% url 'socios:viewSocio' id=socio.id %}">{{ socio.id }}</a>
              </td>
              <td>{{ socio.nomeCompleto }}</td>
              <td>{{ socio.cpf }}</td>
              <td>{{ socio.dataNascimento }}</td>
              <td>{{ socio.sexo }}</td>
              <td>a{{ socio.registro }}</td>
              <td>{{ socio.cargo }}</td>
              <td>{{ socio.arq_autoDeclaracao }}</td>
              <td>
                {% if situacao.status %}
                  Ativo
                {% else %}
                  Inativo
                {% endif %}
              </td>
              <td>
                <a   href="{% url 'socios:editSocio' id=socio.id %}" class="btn btn-warning btn-sm" id="editar">Editar</a>
                <a href="{% url 'socios:deleteSocio' id=socio.id %}" class="ml-3 btn btn-danger btn-sm" id="remover">Remover</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- Alerta fora da estrutura do grid -->
  <div class="alert alert-dismissible" role="alert" id="alerta" style="position: fixed; top: 6rem; right: 10rem; z-index: 9999; height: auto;">
    {% bootstrap_messages %}
  </div>
 
{% endblock %}
