{% extends 'admin/home/home.html' %}

{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block conteudo %}

<div class="add-container ">
  <nav class="list-content" aria-label="">
    <ul>
      <li class="">
        <a href="#">Inicio</a>
      </li> >
      <li class="">
        <a href="#">Sócio</a>
      </li> >
      <li class="">
        <a href="#">Buscar Sócio</a>
      </li>
    </ul>
  </nav>
</div>
  <div class="container p-0 mb-5">
    <div class="search mt-5">
      <h5>Digite o nome sócio ou CPF</h5>
      <form action="{% url 'socios:BuscarSocio' %}" method="get">
        <div class="input-group mb-3">
          <input id="form-contr" type="search" name="termo" class="form-control" placeholder="Ex: Maria " />
          <div class="input-group-append">
            <button id="buttonSearch" class="btn btn-success" type="submit">Buscar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="search mt-5">
      <table id="tabela" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">Sexo</th>
            <th scope="col">RG</th>
            <th scope="col">Cargo</th>
            <th scope="col">Declaração</th>
            <th scope="col">Situação</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for socio in socios %}
            <tr>
              <td><a id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"   href="{% url 'socios:viewSocio' id=socio.id %}">{{ socio.nomeCompleto }}</a> </td>
              <td>{{ socio.cpf }}</td>
              <td>{{ socio.dataNascimento }}</td>
              <td>{{ socio.sexo }}</td>
              <td>{{ socio.registro }}</td>
              <td>{{ socio.cargo }}</td>
              <td> 
                <a href="{{ socio.arq_autoDeclaracao.url }}" class="btn btn-info btn-sm " target="_blank">Ver declaração</a>
              </td>
              <td>
                {% if socio.situacao %}
                    <div class="btn btn-success btn-sm ">Ativo</div> 
                {% else %}
                    <div class="btn btn-secondary btn-sm">Inativo</div>
                {% endif %}
                
              </td>
              <td>
                <a   href="{% url 'socios:editSocio' id=socio.id %}" class="btn btn-warning btn-sm" id="editar">Editar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- Alerta fora da estrutura do grid -->
  <div class="alert alert-dismissible" role="alert" id="alerta" style="position: fixed; top: 6rem; right: 10rem; z-index: 9999; height: auto;">
    {% bootstrap_messages %}
  </div>
  

{% endblock %}
