{% extends 'admin/home/home.html' %}
{% load static %}

{% block conteudo %}
  {% load bootstrap5 %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <!-- Alerta fora da estrutura do grid -->
  <div class="alert alert-dismissible fade" role="alert" id="alerta" style="position: fixed; top: 6rem; right: 10rem; z-index: 9999; height: auto;">
    {% bootstrap_messages %}
  </div>
  <h2>Editar Perfil</h2>
    {% comment %} criar formulario com base no formulario que vem direto do forms.py {% endcomment %}
    <div class="container">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
  </div>
{% endblock %}
