{% extends 'admin/home/home.html' %}
{% load static %}

{% block conteudo %}
  {% load bootstrap5 %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <!-- Alerta fora da estrutura do grid -->
<h1>Aqui jas meu codigo</h1>
   <!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Edita Socio {{socio.nomeCompleto}} </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        
        <form method="post" action="{% url 'socios:editSocio' id=socio.id %}">
          {% csrf_token %}
          <h1>Cado o formulario</h1>
          {{context.form_socio.as_p}}
          
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar mudanças</button>
      </div>
    </div>
  </div>
    <!-- Alerta fora da estrutura do grid -->
    <div class="alert alert-dismissible" role="alert" id="alerta" style="position: fixed; top: 6rem; right: 10rem; z-index: 9999; height: auto;">
      {% bootstrap_messages %}
    </div>
</div>

{% endblock %}
