<div class="contact">
  <div class="contact-section">
      <h2>Contato</h2>
      <div class="contact-content">
          <div class="contact-info">
              <p>Gostaria de conhecer a comunidade ou realizar algum projeto? Entre em contato com a gente</p>
          </div>
          <form>
              <label for="name">Seu nome</label>
              <input type="text" id="name" name="name" placeholder="Nome" required>
              <label for="email">Seu email</label>
              <input type="email" id="email" name="email" placeholder="Email" required>
              <button type="submit">Enviar</button>
          </form>
      </div>
  </div>  
</div>