{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load bootstrap5 %}
    <!-- Load CSS and JavaScript -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'socios/socios/socios.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/sobre.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/projeto.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/contato.css' %}">
    <!-- Display django.contrib.messages as Bootstrap alerts -->
    <title>AQBA</title>
</head>

<body>
    <section id="home" class="home">
      {% include "homepage/header.html" %}
      {% include "homepage/head.html" %}
    </section>
    <section id="sobre" class="sobre">
        {% include "homepage/sobre.html" %}
    </section>
    <section id="cultura" class="cultura">
        <h1>Nossa Cultura</h1>
        {% include "homepage/cultura.html" %}
    </section>
    <section id="projetos" class="projetos">
        {% include "homepage/projetos.html" %}
    </section>
    <section id="contato" class="contato">
        {% include "homepage/contato.html" %}
        {% include "global/partials/footer.html" %}
    </section>

    <script>  
        
        document.addEventListener("DOMContentLoaded", function () {
        const carrosselContainer = document.querySelector('.carrossel-containerP');
        const nextButton = document.getElementById('nextP');
        const prevButton = document.getElementById('prevP');
  
        // Calcula a largura de um card incluindo margens
        const card = document.querySelector('.produto-container');
        const cardMargin = parseInt(getComputedStyle(card).marginRight);
        const cardWidth = card.clientWidth + cardMargin;
  
        let currentIndex = 0; // Índice do primeiro card visível
  
        const updateVisibleCards = () => {
          // Verifica a largura da tela e ajusta os cards visíveis
          return window.innerWidth < 768 ? 1 : Math.floor(carrosselContainer.clientWidth / cardWidth);
        };
  
        const updateVisible2Cards = () => {
          // Se a largura da tela for menor que 860px, exibir 2 cartões
          return window.innerWidth < 860 ? 2 : Math.floor(carrosselContainer.clientWidth / cardWidth);
        };
  
        let visibleCards = updateVisibleCards(); // Atualiza com base na largura da tela
  
        const updateButtons = () => {
          // Determina o índice máximo do primeiro card que pode ser mostrado
          const maxIndex = Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth);
  
          // Atualiza o estado dos botões
          prevButton.disabled = currentIndex <= 0;
          nextButton.disabled = currentIndex >= maxIndex;
        };
  
        const moveCarrossel = (direction) => {
          if (window.innerWidth < 768) {
            visibleCards = updateVisibleCards(); // Atualiza os cards visíveis
            let step = visibleCards + 0.05;
  
            if (window.innerWidth < 700) {
              step = (visibleCards + 0.03);
            }
            if (window.innerWidth < 600) {
              step = (visibleCards + 0.04);
            }
            if (window.innerWidth < 500) {
              step = (visibleCards + 0.04);
            }
            if (window.innerWidth < 400) {
              step = (visibleCards + 0.02);
            }
  
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            }
          }
          else if (window.innerWidth < 1000) {
            visibleCards = updateVisible2Cards(); // Atualiza os cards visíveis
            let step = (visibleCards + 0.08);
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            }
          } 
          else if (window.innerWidth < 1500) {
            visibleCards = updateVisible2Cards(); // Atualiza os cards visíveis
            let step = (visibleCards + 0.1);
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            }
          }  
          else {
            visibleCards = updateVisibleCards(); // Atualiza os cards visíveis
            let step = visibleCards;
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            } 
          }
  
          // Move o carrossel para a posição correta
          carrosselContainer.scrollLeft = currentIndex * cardWidth;
  
          updateButtons(); // Atualiza o estado dos botões
        };
  
        // Adiciona eventos aos botões
        nextButton.addEventListener('click', () => moveCarrossel('nextP'));
        prevButton.addEventListener('click', () => moveCarrossel('prevP'));
  
        updateButtons(); // Atualiza inicialmente os botões
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlK8LpZ+MSsL7+pXAoDYBZQXhcjGp3VVXAjpG1I5iZ9M6G7eqD7f1i2EKez" crossorigin="anonymous"></script>
    {% bootstrap_javascript %}
</body>

</html>
