{% load static %}

<div id="produto" class="produto">
  <h1>Projetos</h1>
  <div class="produto-content">
    <button id="prevP" class="button"><i class="fas fa-chevron-left"></i></button>
    <div class="carrossel-containerP">
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/Rectangle 389.png' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 1</button>
        </div>
      </div>
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/quilombo1.jpg' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 2</button>
        </div>
      </div>
      
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/quilombo2.jpg' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 3</button>
        </div>
      </div>
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/quilombo3.jpg' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 4</button>
        </div>
      </div>
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/quilombo2.jpg' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 5</button>
        </div>
      </div>   
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/quilombo4.jpg' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 6</button>
        </div>
      </div>    
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/quilombo4.jpg' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 6</button>
        </div>
      </div>   
      <div class="produto-container">
        <div class="equipe-img">
          <img src="{% static 'imgs/quilombo4.jpg' %}" alt="imagem">
        </div>
        <div class="servicos-vermais">
          <button class="btn btn-conhecer" type="button">Project 6</button>
        </div>
      </div>    
    </div>
    <button id="nextP" class="button"><i class="fas fa-chevron-right"></i></button>
  </div> 
</div>