{% load static %}

<div class="d-none d-xl-block">
  <div class="row w-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Sobre a Comunidade</h2>
          <p style="text-align: justify; font-size: 1.4rem">Bem-vindo à Comunidade Quilombola Brejão dos Aipins, um grupo resiliente com raízes profundas na história do Brasil. Nossa comunidade é um testemunho vivo da resistência e da força do povo quilombola, que lutou contra a opressão e a escravidão para preservar sua liberdade e cultura.</p>
        </div>
      </div>
    </div>
    <div class="container container-img">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo1.jpg' %}" alt="Imagem 1" class="img-fluid img1">
        </div>
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo1.jpg' %}" alt="Imagem 2" class="img-fluid img2">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo2.jpg' %}" alt="Imagem 3" class="img-fluid img3">
        </div>
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo1.jpg' %}" alt="Imagem 4" class="img-fluid img4">
        </div>
      </div>
    </div>
  </div>
  <div class="row w-100">
    <div class="container container-img">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo1.jpg' %}" alt="Imagem 1" class="img-fluid img1">
        </div>
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo2.jpg' %}" alt="Imagem 2" class="img-fluid img2">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo3.jpg' %}" alt="Imagem 3" class="img-fluid img3">
        </div>
        <div class="col-12 col-md-4">
          <img src="{% static 'imgs/quilombo4.jpg' %}" alt="Imagem 4" class="img-fluid img4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2>Sobre a Associação</h2>
          <p style="text-align: justify; font-size: 1.4rem">Bem-vindo à Comunidade Quilombola Brejão dos Aipins, um grupo resiliente com raízes profundas na história do Brasil. Nossa comunidade é um testemunho vivo da resistência e da força do povo quilombola, que lutou contra a opressão e a escravidão para preservar sua liberdade e cultura.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Layout para telas menores que 1200px -->
<div class="container">
  <div class="d-xl-none">
    <div class="row">
      <div class="col-12 text-center">
        <h2>Sobre a Comunidade</h2>
        <p style="text-align: justify;">
          Bem-vindo à Comunidade Quilombola Brejão dos Aipins, um grupo resiliente com raízes profundas na história do Brasil. Nossa comunidade é um testemunho vivo da resistência e da força do povo quilombola, que lutou contra a opressão e a escravidão para preservar sua liberdade e cultura.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="{% static 'imgs/quilombo1.jpg' %}" alt="Imagem 1" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="{% static 'imgs/quilombo2.jpg' %}" alt="Imagem 2" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="{% static 'imgs/quilombo3.jpg' %}" alt="Imagem 3" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="{% static 'imgs/quilombo4.jpg' %}" alt="Imagem 4" class="img-fluid">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12 text-center">
        <h2>Sobre a Associação</h2>
        <p style="text-align: justify;">
          Bem-vindo à Comunidade Quilombola Brejão dos Aipins, um grupo resiliente com raízes profundas na história do Brasil. Nossa comunidade é um testemunho vivo da resistência e da força do povo quilombola, que lutou contra a opressão e a escravidão para preservar sua liberdade e cultura.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <img src="{% static 'imgs/quilombo1.jpg' %}" alt="Imagem 1" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="{% static 'imgs/quilombo2.jpg' %}" alt="Imagem 2" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="{% static 'imgs/quilombo3.jpg' %}" alt="Imagem 3" class="img-fluid">
      </div>
      <div class="col-6">
        <img src="{% static 'imgs/quilombo4.jpg' %}" alt="Imagem 4" class="img-fluid">
      </div>
    </div>
  </div>
</div>
