{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% load bootstrap5 %}
  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <link rel="stylesheet" href="{% static 'socios/socios/socios.css' %}">
  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}
  <title>AQBA</title>

  <!-- Bootstrap core CSS -->


</head>

<body>
    <!-- Navigation -->

  {% include "partials/menu.html" %}


  <!-- Page Content -->
  <div class="container">

    {%block conteudo%}{%endblock%}

  </div>


</body>

</html>