
{% extends 'base.html' %}
{% load static %}
{% block conteudo %}
<section id="home" class="home">
  
  {% include 'global/partials/head.html' %}
</section>
<section id="sobre" class="sobre">
  {% include 'homepage/sobre.html' %}
</section>
<section id="cultura" class="cultura">
  <h1>Nossa Cultura</h1>
  {% include 'homepage/cultura.html' %}
</section>
<section id="projetos" class="projetos">
  {% include 'homepage/projetos.html' %}
</section>
<section id="contato" class="contato">
  {% include 'global/contato/contato.html' %}
  {% include 'global/partials/footer.html' %}
</section>
{% endblock conteudo %}
