{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load bootstrap5 %}
    <!-- Load CSS and JavaScript -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/sobre.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/projeto.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/contato.css' %}">

    <title>AQBA</title>
</head>

<body>
    <section id="home" class="home">
        {% include "global/partials/header.html" %}
        {% include "global/partials/head.html" %}
    </section>
    <section id="sobre" class="sobre">
        {% include "homepage/sobre.html" %}
    </section>
    <section id="cultura" class="cultura">
        <h1>Nossa Cultura</h1>
        {% include "homepage/cultura.html" %}
    </section>
    <section id="projetos" class="projetos">
        {% include "homepage/projetos.html" %}
    </section>
    <section id="contato" class="contato">
        {% include "global/contato/contato.html" %}
        {% include "global/partials/footer.html" %}
    </section>

    <script>  
      
      // Get the carousel element
      const carousel = document.getElementById('carouselExampleIndicators');
      
      // Get the carousel items
      const items = carousel.querySelectorAll('.carousel-item');

      // Get the indicators
      const indicators = carousel.querySelectorAll('.carousel-indicators li');

      // Initialize the current slide index
      let currentIndex = 0;

      // Function to move to the next slide
      function nextSlide() {
        // Move to the next slide
        currentIndex = (currentIndex + 1) % items.length;
        updateCarousel();
      }

      // Function to move to the previous slide
      function prevSlide() {
        // Move to the previous slide
        currentIndex = (currentIndex - 1 + items.length) % items.length;
        updateCarousel();
      }

      // Add animation to the carousel items
      items.forEach(item => {
        item.style.transition = 'transform 0.5s ease-in-out';
      });

      // Function to update the carousel state
      function updateCarousel() {
        // Remove the active class from all items
        items.forEach(item => item.classList.remove('active'));
        // Add the active class to the current item
        items[currentIndex].classList.add('active');

        // Update the indicators
        indicators.forEach(indicator => indicator.classList.remove('active'));
        indicators[currentIndex].classList.add('active');
      }

      // Add event listeners to the control buttons
      carousel.querySelectorAll('.carousel-control-next').forEach(button => {
        button.addEventListener('click', () => {
          nextSlide();
          resetAutoSlide(); // Reset the auto-slide timer on manual navigation
        });
      });

      carousel.querySelectorAll('.carousel-control-prev').forEach(button => {
        button.addEventListener('click', () => {
          prevSlide();
          resetAutoSlide(); // Reset the auto-slide timer on manual navigation
        });
      });

      // Function to start auto-slide
      let autoSlideInterval;

      function startAutoSlide() {
        autoSlideInterval = setInterval(nextSlide, 4000); // Change slide every 4 seconds
      }

      // Function to reset auto-slide
      function resetAutoSlide() {
        clearInterval(autoSlideInterval);
        startAutoSlide();
      }

      // Initialize the carousel
      updateCarousel();
      startAutoSlide(); // Start auto-slide on page load

    
      document.addEventListener("DOMContentLoaded", function () {
      const carrosselContainer = document.querySelector('.carrossel-containerP');
      const nextButton = document.getElementById('nextP');
      const prevButton = document.getElementById('prevP');

      // Calcula a largura de um card incluindo margens
      const card = document.querySelector('.produto-container');
      const cardMargin = parseInt(getComputedStyle(card).marginRight);
      const cardWidth = card.clientWidth + cardMargin;

      let currentIndex = 0; // Índice do primeiro card visível

      const updateVisibleCards = () => {
        // Verifica a largura da tela e ajusta os cards visíveis
        return window.innerWidth < 768 ? 1 : Math.floor(carrosselContainer.clientWidth / cardWidth);
      };

      const updateVisible2Cards = () => {
        // Se a largura da tela for menor que 860px, exibir 2 cartões
        return window.innerWidth < 860 ? 2 : Math.floor(carrosselContainer.clientWidth / cardWidth);
      };

      let visibleCards = updateVisibleCards(); // Atualiza com base na largura da tela

      const updateButtons = () => {
        // Determina o índice máximo do primeiro card que pode ser mostrado
        const maxIndex = Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth);

        // Atualiza o estado dos botões
        prevButton.disabled = currentIndex <= 0;
        nextButton.disabled = currentIndex >= maxIndex;
      };

      const moveCarrossel = (direction) => {
        if (window.innerWidth < 768) {
          visibleCards = updateVisibleCards(); // Atualiza os cards visíveis
          let step = visibleCards + 0.05;

          if (window.innerWidth < 700) {
            step = (visibleCards + 0.03);
          }
          if (window.innerWidth < 600) {
            step = (visibleCards + 0.04);
          }
          if (window.innerWidth < 500) {
            step = (visibleCards + 0.04);
          }
          if (window.innerWidth < 400) {
            step = (visibleCards + 0.02);
          }

          if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
            currentIndex += step; // Pula pelo número de cards visíveis
          } else if (direction === 'prevP' && currentIndex > 0) {
            currentIndex -= step; // Pula para trás pelo número de cards visíveis
          }
        }
        else if (window.innerWidth < 1000) {
          visibleCards = updateVisible2Cards(); // Atualiza os cards visíveis
          let step = (visibleCards + 0.08);
          if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
            currentIndex += step; // Pula pelo número de cards visíveis
          } else if (direction === 'prevP' && currentIndex > 0) {
            currentIndex -= step; // Pula para trás pelo número de cards visíveis
          }
        } 
        else if (window.innerWidth < 1500) {
          visibleCards = updateVisible2Cards(); // Atualiza os cards visíveis
          let step = (visibleCards + 0.1);
          if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
            currentIndex += step; // Pula pelo número de cards visíveis
          } else if (direction === 'prevP' && currentIndex > 0) {
            currentIndex -= step; // Pula para trás pelo número de cards visíveis
          }
        }  
        else {
          visibleCards = updateVisibleCards(); // Atualiza os cards visíveis
          let step = visibleCards + 0.2;
          if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
            currentIndex += step; // Pula pelo número de cards visíveis
          } else if (direction === 'prevP' && currentIndex > 0) {
            currentIndex -= step; // Pula para trás pelo número de cards visíveis
          } 
        }

        // Move o carrossel para a posição correta
        carrosselContainer.scrollLeft = currentIndex * cardWidth;

        updateButtons(); // Atualiza o estado dos botões
      };

      // Adiciona eventos aos botões
      nextButton.addEventListener('click', () => moveCarrossel('nextP'));
      prevButton.addEventListener('click', () => moveCarrossel('prevP'));

      updateButtons(); // Atualiza inicialmente os botões
    });
  </script>
</body>

</html>

<!--
<script>  
        
        document.addEventListener("DOMContentLoaded", function () {
        const carrosselContainer = document.querySelector('.carrossel-containerP');
        const nextButton = document.getElementById('nextP');
        const prevButton = document.getElementById('prevP');
  
        // Calcula a largura de um card incluindo margens
        const card = document.querySelector('.produto-container');
        const cardMargin = parseInt(getComputedStyle(card).marginRight);
        const cardWidth = card.clientWidth + cardMargin;
  
        let currentIndex = 0; // Índice do primeiro card visível
  
        const updateVisibleCards = () => {
          // Verifica a largura da tela e ajusta os cards visíveis
          return window.innerWidth < 768 ? 1 : Math.floor(carrosselContainer.clientWidth / cardWidth);
        };
  
        const updateVisible2Cards = () => {
          // Se a largura da tela for menor que 860px, exibir 2 cartões
          return window.innerWidth < 860 ? 2 : Math.floor(carrosselContainer.clientWidth / cardWidth);
        };
  
        let visibleCards = updateVisibleCards(); // Atualiza com base na largura da tela
  
        const updateButtons = () => {
          // Determina o índice máximo do primeiro card que pode ser mostrado
          const maxIndex = Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth);
  
          // Atualiza o estado dos botões
          prevButton.disabled = currentIndex <= 0;
          nextButton.disabled = currentIndex >= maxIndex;
        };
  
        const moveCarrossel = (direction) => {
          if (window.innerWidth < 768) {
            visibleCards = updateVisibleCards(); // Atualiza os cards visíveis
            let step = visibleCards + 0.05;
  
            if (window.innerWidth < 700) {
              step = (visibleCards + 0.03);
            }
            if (window.innerWidth < 600) {
              step = (visibleCards + 0.04);
            }
            if (window.innerWidth < 500) {
              step = (visibleCards + 0.04);
            }
            if (window.innerWidth < 400) {
              step = (visibleCards + 0.02);
            }
  
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            }
          }
          else if (window.innerWidth < 1000) {
            visibleCards = updateVisible2Cards(); // Atualiza os cards visíveis
            let step = (visibleCards + 0.08);
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            }
          } 
          else if (window.innerWidth < 1500) {
            visibleCards = updateVisible2Cards(); // Atualiza os cards visíveis
            let step = (visibleCards + 0.1);
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            }
          }  
          else {
            visibleCards = updateVisibleCards(); // Atualiza os cards visíveis
            let step = visibleCards + 0.2;
            if (direction === 'nextP' && currentIndex < Math.floor((carrosselContainer.scrollWidth - carrosselContainer.clientWidth) / cardWidth)) {
              currentIndex += step; // Pula pelo número de cards visíveis
            } else if (direction === 'prevP' && currentIndex > 0) {
              currentIndex -= step; // Pula para trás pelo número de cards visíveis
            } 
          }
  
          // Move o carrossel para a posição correta
          carrosselContainer.scrollLeft = currentIndex * cardWidth;
  
          updateButtons(); // Atualiza o estado dos botões
        };
  
        // Adiciona eventos aos botões
        nextButton.addEventListener('click', () => moveCarrossel('nextP'));
        prevButton.addEventListener('click', () => moveCarrossel('prevP'));
  
        updateButtons(); // Atualiza inicialmente os botões
      });
    </script>
-->