<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <title>Menu</title>
    <style>
      body {
        background-color: #D9D9D9;
      }
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        padding-top: 10%;
        width: 12.5rem;
        height: 100vh;
        background-color: white;
        z-index: 9;
      }
      .sidebar a {
        font-size: 1rem;
        padding: 0.5rem;
        display: block;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.752);
        padding: 1.2rem;
      }
      
      .sidebar a.activate {
        background-color: #d9d9d9b6;
      }
      
      .sidebar i {
        padding-right: 0.4rem;
      }
      #icon {
        padding-top: 0.3rem;
        float: right;
      }
    </style>
  </head>
  <body>
    <div id="mySidebar" class="sidebar">
      <a href="{% url 'home' %}" id="inicio" class="activate"><i class="fas fa-home"></i> Inicio</a>
      <a href="#" id="socio" class="submenu-toggle"><i class="far fa-user"></i> Sócio <i id="icon" class="fas fa-chevron-right"></i></a>
      <div id="submenu-socio" class="submenu pl-4" style="display:none;">
          <a href="{% url 'addSocio' %}" class="submenu-item"><i class="fas fa-plus"></i> Adicionar</a>
          <a href="{% url 'searchSocio' %}" class="submenu-item"><i class="fas fa-spinner"></i> Buscar</a>
      </div>
      <a href="#" id="projetos"><i class="fas fa-folder-open"></i> Projetos <i id="icon" class="fas fa-chevron-right"></i></a>
      <div id="submenu-projetos" class="submenu pl-4" style="display:none;">
          <a href="{% url 'addProjeto' %}" class="submenu-item"><i class="fas fa-plus"></i> Adicionar</a>
          <a href="{% url 'searchProjeto' %}" class="submenu-item"><i class="far fa-folder-open"></i> Atualizar</a>
      </div>
      <a href="#" id="mensalidade"><i class="far fa-credit-card"></i> Mensalidades <i id="icon" class="fas fa-chevron-right"></i></a>
      <div id="submenu-mensalidade" class="submenu pl-4" style="display:none;">
          <a href="{% url 'mensalidades' %}" class="submenu-item"><i class="fas fa-plus"></i> Acompanhar</a>
      </div>
    </div>
    
    <script>
      // Função para definir o item do menu ativo com base na URL atual da página
      function setActiveMenuItem() {
          // Obtém a URL atual da página
          var currentUrl = window.location.href;
  
          // Obtém todos os links do menu
          var menuLinks = document.querySelectorAll('.sidebar a');
  
          // Obtém o último item clicado do menu do armazenamento local
          var lastClickedItem = localStorage.getItem('lastClickedItem');
  
          // Itera sobre os links do menu
          menuLinks.forEach(function(link) {
              // Obtém o URL do link do menu
              var menuUrl = link.getAttribute('href');
  
              // Verifica se o URL atual da página contém o URL do link do menu
              if (currentUrl.includes(menuUrl)) {
                  // Remove a classe 'activate' de todos os links do menu
                  menuLinks.forEach(function(menuLink) {
                      menuLink.classList.remove('activate');
                  });
  
                  // Adiciona a classe 'activate' ao link do menu correspondente
                  link.classList.add('activate');
  
                  // Se o link do menu tiver um submenu, mostra o submenu
                  var submenu = link.nextElementSibling;
                  if (submenu && submenu.classList.contains('submenu')) {
                      submenu.style.display = "block";
                  }
              }
          });
  
          // Se houver um último item clicado, define a classe 'activate' para ele
          if (lastClickedItem) {
              var lastClickedLink = document.getElementById(lastClickedItem);
              if (lastClickedLink) {
                  lastClickedLink.classList.add('activate');
  
                  // Se o último item clicado tiver um submenu e não for o 'inicio', mostra o submenu
                  if (lastClickedItem !== 'inicio') {
                      var submenu = lastClickedLink.nextElementSibling;
                      if (submenu && submenu.classList.contains('submenu')) {
                          submenu.style.display = "block";
                      }
                  }
              }
          }
      }
  
      // Função para adicionar evento de clique aos links do menu
      function addClickEvent(link, submenu) {
          link.addEventListener('click', function() {
              // Remove a classe 'activate' de todos os links do menu
              var links = document.querySelectorAll('.sidebar a');
              links.forEach(function(link) {
                  link.classList.remove('activate');
              });
  
              // Esconde todos os submenus
              var submenus = document.querySelectorAll('.submenu');
              submenus.forEach(function(submenu) {
                  submenu.style.display = "none";
              });
  
              // Adiciona a classe 'activate' ao link clicado
              link.classList.add('activate');
  
              // Mostra o submenu correspondente
              if (submenu) {
                  submenu.style.display = "block";
              }
  
              // Salva o ID do link clicado no armazenamento local
              localStorage.setItem('lastClickedItem', link.id);
          });
      }
  
      // Obter os links e submenus pelo ID e adicionar eventos de clique
      window.addEventListener('load', function() {
          var inicio = document.getElementById('inicio');
          var socio = document.getElementById('socio');
          var projetos = document.getElementById('projetos');
          var mensalidade = document.getElementById('mensalidade');
  
          var submenuSocio = document.getElementById('submenu-socio');
          var submenuProjetos = document.getElementById('submenu-projetos');
          var submenuMensalidade = document.getElementById('submenu-mensalidade');
  
          addClickEvent(inicio);
          addClickEvent(socio, submenuSocio);
          addClickEvent(projetos, submenuProjetos);
          addClickEvent(mensalidade, submenuMensalidade);
  
          setActiveMenuItem();
      });
    </script>
  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
