*{
    margin: 0;
    padding: 0;
}


.topo {
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: #1D271A;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
}
.user-icon {
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem  0.8rem;
    margin-right: 0.5rem;
}
.user-name {
    color: white;
    font-weight: 800;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 10%;
    width: 12.5rem;
    height: 100vh;
    background-color: white;
    z-index: 9;
}
.sidebar a {
    font-size: 1rem;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.752);
    padding: 1.2rem;
}
  
.sidebar a.activate {
    background-color: #d9d9d9b6;
}
  
.sidebar i {
    padding-right: 0.4rem;
}
#icon {
    padding-top: 0.3rem;
    float: right;
}

  
.add-container {
    margin: 0 auto;
    padding-left: 12rem;
    padding-top: 11rem;
}
.add-container nav {
    width: 80%;
}
.main{
    height: 900px;
    margin: 0;
    padding: 0;
}
.main-container{
    background-color: rgba(0, 0, 0, 0.062);
    height: 100%;
}

.container {
 
    padding-top: 7.5rem;
    font-weight: 500;
    font-size: medium;
    font-style: normal;
    color: #00000062;
}
  
.container h2 {
    padding-left: 3rem;
    padding-bottom: 2rem;
}
  
.colunAtalhos h2 {
    font-weight: 600;
    padding-left: 4rem;
    font-size: 1rem;
    font-style: normal; 
}
  
.cardContainer {
    padding-left: 8rem;
}
  
#card {
    border-radius: 10px;
}
  
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 15rem;
    cursor: pointer;
}


  
.card-body i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    padding-bottom: 0.5rem;
}
 
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.6rem 0;
    padding-right: 2rem;
    padding-left: 15%;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.526);

  }