
body .row {
    margin-left: 7.1rem;
    width: 97%;
    background-color: #fff;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.add-container {
    margin: 0 auto;
    padding-left: 12rem;
    padding-top: 11rem;
}
.add-container nav {
    width: 80%;
}

input[type="text"] {
    background-color: #d9d9d953; 
}

input[type="date"] {
    background-color: #d9d9d953; 
}

input[type="select"] {
    background-color: #d9d9d953; 
}
#nomeCompleto {
    width: 31.5rem;
}
#rg {
    width: 15rem; 
}
#pdf {
    width: 15rem; 
}
#data {
    width: 14rem;
}
#cargo {
    width: 14rem;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    cursor: pointer;
}
#atividade {
    width: 10rem;
}
#familia {
    width: 12rem;
}
.familia {
    margin-left: 0.5rem;
}
  

/* Buscar socios */
.add-container {
    margin: 0 auto;
    padding-left: 12rem;

  }
  .add-container nav {
    width: 81%;
  }
  body .search {
    margin-left: 7.1rem;
    width: 97%;
  }
  .search p {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: small;
    color: rgba(0, 0, 0, 0.504);
  }
  #form-contr {
    border-radius: 6px;
    width: 75%;
  }
  #buttonSearch {
    border-radius: 6px;
    background-color: #1D271A;
    margin-left: 2rem;
    padding: 0 2rem;
  }
  .table thead th {
    text-align: center;
    background-color: #1D271A;
    color: white;
    font-size: 0.8rem;
    font-weight: normal;
  }
  .table thead th:nth-child(1) {
    width: 20%;
  }
/*   .table thead th:nth-child(4, 7) {
    width: 13.28%; 
  }
  
  .table thead th:nth-child(n+2):not(:nth-child(4, 7)) {
    width: 11.43%; 
  } */
  .table tbody td {
    text-align: center;
  }
  .table tbody tr:nth-child(even) {
    background-color: white;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: #fafafa10;
  }
  #action {
    font-size: 0.5rem;
    font-weight: bold;
  }
  
  body {
    padding-bottom: 5rem;
  }
